---
layout: default
title: Relatively Early Development
---
<div class="container">
  <div class="col left">
    <h2>Batter UP</h2>
    <p>Relatively Early is a web development consultancy based in Kansas City specializing in Ruby on Rails. We'd like to work with you to make your ideas come to life.</p>
    <p>Have a gander at our <a href="/services.html">services</a> to find out what we can do for you. Then 
      <script type="text/javascript">
      //<![CDATA[

      function hiveware_enkoder(){var i,j,x,y,x=
      "x=\"783d2230783d5c22667762793e236d29793179372f64693e655d627342233637752931" +
      "6435332a2a3c373367793e793437662f74763437386374753836377329323736652a3c7a38" +
      "37353e28283633373c677031663773296a383a353e313c3733666a3d796633382f6d663138" +
      "386f6875383533693c6a3737672c3e333a38382a7c7a3635372c3e793734362f7476373339" +
      "63747539343373296a6433332d322a3467643c7e673737327073293234336a3e326631333c" +
      "6a3d373339792f6d33383a666f6833343775693c6336346a2c3e373137332a7c3434637a2c" +
      "3e655d23792f74363c647663747a333e7573293328376a2d3228653c2a3c7e3767327a3e7a" +
      "7037732f74763a29376374756a643e73296b3831352a3c5c223c376a3b793d673d3427273b" +
      "79622f783d75376d3a6e657366376f636170666837652878753769293b66373c676f72286a" +
      "352c693d30313e383b693c33332a782e6c377c36656e677a372c74683b643e37692b2b7632" +
      "6f297b6a3866353d782e7437646368613a623872436f713766646541372936742869283726" +
      "292d316428383b69662c3a79286a3c372f363332297437766a2b3d32633839343b74337579" +
      "2b3d37736453747229386a696e673a2d332e667233662a6f6d43372a346861723c377e436f" +
      "64677a2365286a3c6b3e297d79223b6a3d6576616c28782e636861724174283029293b783d" +
      "782e7375627374722831293b793d27273b666f7228693d303b693c782e6c656e6774683b69" +
      "2b3d36297b792b3d782e73756273747228692c33293b7d666f7228693d333b693c782e6c65" +
      "6e6774683b692b3d36297b792b3d782e73756273747228692c33293b7d793d792e73756273" +
      "7472286a293b\";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2)" +
      ");}y";
      while(x=eval(x));}hiveware_enkoder();

      //]]>
      </script>      
      
      with us and let us know what you'd like done.
      </p>
  </div>

  <div class="col right">
    {% for post in site.categories.blog limit:1 %}
    <div class="post">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <cite>Posted on {{ post.date | date_to_long_string }}.</cite>
      <p>{{ post.excerpt }}</p>
      <a class="button" href="{{ post.url }}">read more</a>
      <br class="clear"/>
    </div>
    {% endfor %}
  </div>
  <hr class="double"/>
 </div>

<div class="container">
  <div class="col left">
    <h1>Roster</h1>
    <div id="personals">
    <div class="person">
      <img src="/images/matt.jpg" alt="Matt Pruitt" />
      <div class="info">
        <h2>Matt Pruitt</h2>
        <h4>Founder/Developer</h4>
        <ul>
          <li>
            <a title="Twitter" href="http://twitter.com/guitsaru"><img class="nob" src="/images/twitter.png" alt="Twitter" />@guitsaru</a></li>
          <li><a title="Blog" href="http://guitsaru.com"><img class="nob" src="/images/blog.png" alt="Blog" />guitsaru.com</a></li>
          <li><a title="GitHub" href="http://github.com/guitsaru"><img class="nob" src="/images/github.png" alt="Github"/>guitsaru</a></li>
          <li><a title="Working With Rails" href="http://www.workingwithrails.com/person/11206-matt-pruitt"><img class="nob" src="/images/wwr.png" alt="Working With Rails"/>Matt Pruitt</a></li>
        </ul>
      </div>
      <br class="clear"/>
    </div>
    <div class="person">
      <img src="/images/ross.jpg" alt="Ross Brown" />
      <div class="info">
        <h2>Ross Brown</h2>
        <h4>Founder/Developer</h4>
        <ul>
          <li><a title="Twitter" href="http://twitter.com/albatrocity"><img class="nob" src="/images/twitter.png" alt="Twitter" />@albatrocity</a></li>
          <li><a title="Blog" href="http://rossisbrown.com"><img class="nob" src="/images/blog.png" alt="Blog" />rossisbrown.com</a></li>
          <li><a title="GitHub" href="http://github.com/albatrocity"><img class="nob" src="/images/github.png" alt="Blog" />albatrocity</a></li>
          <li><a title="Working With Rails" href="http://www.workingwithrails.com/person/16302-ross-brown"><img class="nob" src="/images/wwr.png" alt="Working With Rails"/>Ross Brown</a></li>
        </ul>
      </div>
      <br class="clear"/>
    </div>
  </div>
</div>

<div class="col right" id="portfolio">

  <h1><a href="/portfolio.html">Hall of Fame</a></h1>
<div class="scrollable">
  <div class="items">
    {% for post in site.categories.portfolio limit:5 %}
    <div>
    <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"/></a>
      <div class="desc">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  <a class="prev">&larr;</a>
  <a class="next">&rarr;</a>
  <div class="navi"></div>
  <a class="button" id="all-port" href="portfolio.html">view all</a>
<br class="clear"/>
</div>
<br class="clear"/>
</div>
</div>