---
layout: default
title: Relatively Early Development
---

<div class="col left">

{% for post in site.categories.blog limit:1 %}
<div class="post">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <cite>Posted on {{ post.date | date_to_long_string }}.</cite>  
  {{ post.excerpt }}
</div>
{% endfor %}
<a class="button tright" href="/archive.html">read more entries</a>
</div>

<div class="col right" id="portfolio">
  <h2>Portfolio</h2>
  <a href="portfolio.html">view all</a>
<div class="scrollable">
  <div class="items">
    {% for post in site.categories.portfolio limit:5 %}
    <div>
    <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"/></a>
      <div class="desc">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  <a class="prev">&larr;</a>
  <a class="next">&rarr;</a>  
  <div class="navi"></div>
 <br class="clear"/>
  
</div>