/* @override http://localhost:4000/stylesheets/style.css */
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  background: #222 url(/images/grass.png) repeat-x 51% 142px;
  font: 14px/1.5em "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #000;
  height: 100%;
}
#sky {
  background: url(/images/sky_bg.png) repeat-x 14px 0;
  overflow: hidden;
  padding: 0;
}
#sun {
  color: #cce3ff;
  position: absolute;
  left: ;
  width: 330px;
  height: 142px;
  float: left;
  background: url(../images/sun.png) no-repeat left;
}
#header {
  padding: 0;
  height: 185px;
  text-align: center;
  background: none;
  overflow: hidden;
}

#header img {
  width:244px;
  margin: 8px auto 2px auto;
}

/* @group nav */

ul#nav {
  list-style: none;
  padding: 0;
  width: 460px;
  margin: 8px auto;
}
ul#nav li {
  float: left;
  width:115px;
}
ul#nav li a{
  display: block;
  width:100px;
  overflow: hidden;
  color: #fff;
  border-bottom:1px solid #1b4b1e;  
  background: rgba(0,0,0,.5);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;  
  -webkit-transition: background-color .3s linear;  
}
ul#nav li a:hover, ul#nav li a.active{
  top: 0;
  background-color: rgba(0,0,0,.7);
  border-bottom-color: #1b4b1e;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;  
  -webkit-transition: background-color .3s linear;  
}



/* @end */
/* @group Portfolio */

/* @group scroller */

/* @override http://static.flowplayer.org/tools/css/scrollable-minimal.css */


/* 
	root element for the scrollable. 
	when scrolling occurs this element stays still. 
*/
.portfolio_item .scroller {
  width: 410px;
  text-align: center;
  margin: 20px auto;
}
.portfolio_item div.scrollable {
  margin: 0 auto;
}
div.scrollable {
	margin-top: 20px;
	position:relative;
	overflow:hidden;	 	
	width: 400px;	
	height:340px;	
	padding:0;		
	border-top: 2px solid #888;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	-webkit-box-shadow: 0 0 5px #fff;
	-moz-box-shadow: 0 0 5px #fff;			
}

div.scrollable div.items {	
	/* this cannot be too large */
	width:20000em;	
	position:absolute;
	clear:both;		
}

/* single scrollable item */
div.scrollable div.items div {
	float:left;
	/* custom decoration */
	text-align:center;
	width:400px;
	padding: 0;
	font-size:30px;
}
div.scrollable div.items div a {
  display: block;
  padding: 0;
  margin: 0;
  height: 265px;
  overflow: hidden;
}
#posts div.col.left div.scrollable div.items div a  img{
  border: none ;
  -webkit-border-radius:0;
  -moz-border-radius:0;  
}
/* active item */
div.scrollable div.items div.active {		
}
.scrollable .items .desc {
  border-top: 2px solid #ccc;
  background: #aaa url(../images/gray_gradient.png) repeat-x center 0; 
  padding-top: 20px; 
  height: 100px;
}
.navi, .next, .prev {
  margin: 10px auto;
  position: relative;
}
.navi {
  width: 150px;
  text-align: center;
}
.post .navi {
  width: 400px;
  margin: 10px 0;
}
div.navi a {
  padding: 2px 10px;
  display: inline;
  margin:0 5px;
}
.next {
  float: right;
}
.prev {
  float: left;
}

/* @end */

.portfolio_item h1 {
  text-align: center;
}

/* @end */

/* @group Boxes */

#main {
  margin: 0 auto;
  border-top: 2px solid #fff;
  height: 100%;
  background: #ccc;  
}

#main.content {
  max-width: 900px;
}
#main .content.divider {
  background: url(/images/divider.png) repeat-y center 0;   
  max-width: 900px;
}
.container.fluid, body.fluid #footer {
  min-width: 680px !important;
}
.content {
  margin: 0 auto;  
  max-width: 900px;  
}
.container {
  min-width: 900px;	
  margin: 0 auto;
  padding: 0 20px;
}
.col {
  padding: 10px 0;
  max-width: 47%;  
}

.col.right {
  padding-left: 30px;   
}

#posts div.col.left, #footer div.col.left {
  max-width: 60%;
}

#posts.content.divider {
  background: url(/images/divider.png) repeat-y 63% 0;     
}

#portfolio {
  padding-right: 20px;
  overflow: hidden;
}
#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #222;
  max-width: 100%;
}
#footer * {
  color: #ddd;
}
#footer p {
  color: #999;

}
body.fluid #footer .col.right{
  max-width: 34%;  
}

body.page #footer .col.left {
  max-width: 47%;
}

body.fluid .col.right {
  max-width: 34%;
}
body.page.fluid .col.right {
  max-width: 47% !important;
}
/* @end */

/* @group framework */
.left {
  float: left;
}
.right {
  float: right;
}
tright{
  text-align: right;
}
tleft {
  text-align: left;
}
.clear {
  clear: both;
}
br.clear {
  line-height: 0;
}
.shadow {
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,.6);  
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,.6);    
}
.round{
  -webkit-border-radius:6px;
  -moz-border-radius:6px;  
}
.nob {
  border: none !important;
}
/* @end */

/* @group Text */

/* @group Posts */
.post h1, .post h2 {
  width: auto;
  display: block;
  margin-bottom: .3em;
}
.portfolio .post h1 {
  text-align: center;  
}
.post .col.right h1 {
  text-align: left;
}
.post cite {
 display: block;
 margin: 1em 0;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: .8em;
}
#posts div.col.left div.post a img, .person img{
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 6px solid #fff;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;  
}
/* @end */
h1, h2, h3, h4 {
  margin-top: 0;
  font-family: 'Rockwell', 'Chunk', Courier;
  text-transform: uppercase;
  text-shadow: rgba(256,256,256,.4) 0 2px 1px;  
}

#personals div.person div.info h4 {
  color: #666;
}
h1 a, h2 a, h3 a, .plain, .scrollable a {
  color: #000;
  background: none;
  -moz-box-shadow:none;  
  -webkit-box-shadow:none;
  padding: 0;
}
h1 a:hover, h2 a:hover, h3 a:hover, .plain:hover, .scrollable a:hover  {
  background: none;
  top: 0;
  -webkit-box-shadow:none; 
  -moz-box-shadow:none;   
  border-bottom: 4px solid #222;
  -webkit-border-radius:0;
  -moz-border-radius:0;
}
.plain:hover, .scrollable a  {
  border: none !important;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;	
  margin-top: .3em;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 1em;
  margin: 0;
}
.person h2 {
  margin: 0;
}
.person img {
  float: left;
  margin-right: 20px;
  vertical-align: bottom;
}  
.person {
 margin-bottom: 10px; 
}
.person .info {
  margin-left:130px;
}
.person ul {
  padding: 0;
  margin: 0;
}
.person ul li {
  list-style: none;
  padding: 0 0 0 8px;
  margin: 5px 0;
}
.person ul li a img {
	position: relative;
 top: 2px;
}
p {
  margin: 0 0 1.5em 0;	
  line-height: 1.8em;
}
a {
  color:#000; 
  text-decoration: none;
  background: #fff;
  padding: .2em .3em;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,.5);
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,.5);
  cursor: pointer;
  position: relative;
  font-family: 'Rockwell', 'Chunk', Courier;
  font-weight: bold;
}
a img {
  border: none;
}
.button {
  padding: .5em;
  line-height: 4em;
  font-family: 'Rockwell','Chunk', Courier;
  font-weight: bold;   
}
a:hover, .navi a.active {
  background: #ddd;
  top: 1px;
  -webkit-box-shadow:0 -1px 2px rgba(0,0,0,.4);  
  -moz-box-shadow:0 -1px 2px rgba(0,0,0,.4);
  border-bottom: 1px solid #fff;
}
hr {
  margin: 20px 0;
  height: 10px;
  clear: both;
background:#ccc url(../images/hr.png) no-repeat;
border: none;
}

#footer a {
  background: #111;
}
#footer ul {
  padding: 0 0 0 2em;
}
#footer li {
  list-style: none;
}
#footer li img {
  vertical-align: middle;
}
#footer a:hover {
  background: #000;
  border-bottom: 1px solid #444;
}
#footer small {
  color: #666;
}
/* @end */

/* @group Images */

.col img {
  max-width: 100%;
}

/* @end */

/* @group blog */
div.post {
  margin-bottom: 1em;
}


/* @end */