@font-face {
font-family: "Delicious SmallCaps";
src: url(/fonts/Delicious-SmallCaps.otf)
}
@font-face {
font-family: "Delicious Roman";
src: url(/fonts/Delicious-Roman.otf)
}
html {
  margin: 0;
}
ul#nav {
  margin: 0;
  padding: 10px 20px;
}
#nav li {
  display: inline;
  font-size: 1.3em;
  padding: 10px;
  width: 200px;
}
#nav li a {
  color: #222;
  text-decoration: none;
}
#nav li a:hover {
  border-bottom: 2px solid #222;
}

/* @group portfolio */
.p-item p {
  width: 400px;
  float: left;
}
.p-item ul {
  color: #9ba6be;
	width: 190px;
  float: right;
  margin: 1em 0;
  border-left: 2px solid #1d1e07;
}

div.p-item {
  margin-bottom: 20px;
}
.p-item h2 a {
  background: transparent;
  text-shadow: none;
}
.p-item img {
  border: 2px solid #161616;
}

#content div.text div.p-item ul li {
  margin: .3em 0;
}
/* @end */
body {
  font-size: 16px;
  background: #202008 url(/images/grass-sky.png) repeat-x 0 -55px;
  margin: 0;
}

/* @group layout */

/* @override http://localhost:4331/css/site.css */

#container {
  width: 884px;
  margin: 0 auto;

}
#header {
	padding: 10px 0;
	margin: 0 auto;
	width: 700px;
	min-height: 200px;
}
#content {
  width: 642px;
  margin: 0 auto;
  padding: 10px 30px;
  position: relative;
}

div.p-item h2 {

}

a img {
	border: none;
}

li a#home {
	display: block;
  height: 91px;
  background: url(../images/nav-home.png) no-repeat 1px 0;
}

.text h2 {
border-bottom: none;
}
#products {
}
#products div {
  margin: 10px;
  float: left;
  width: 300px;
}
hr.clear {
  clear: both;
  border: 1px solid #1d1e07;
}



/* @end */

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: <%= @page.color['header'] %>; }

/* Text Elements
 * --------------------------------------------------------------------- */
.text a                 { color: #938fbf;
padding: .3em;
background: #2e2c3c; text-decoration: none;
  border-bottom: 2px solid #17171f;
}
p {
  color: #9ba6be;
  line-height: 1.5em;
  font-family: "Palatino";
  font-size: 14px;
}
h1 {
  color: #aaa;
  line-height: .8em;
  font-family: "Delicious SmallCaps", Helvetica Neue, Arial;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  margin: 0;
  text-shadow: #000 0 0 100px;
}
h2 {
  color: #fff;
  font-family: "Delicious SmallCaps", Helvetica Neue, Arial;
  font-size: 2em;  
  margin: 0;
  border-bottom: 4px groove #262707;
}
h2 a {
  color: #00000a;
  text-decoration: none;
  text-shadow: #484912 0 1px 0;  
}
h2 a:hover {
  color: #000;
}	