<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
    <![endif]-->       
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link href="http://kernest.com/relativelyearly-com.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/atom.xml" rel="alternate" title="Relatively Early Development" type="application/atom+xml" />
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body class="page fluid">
    {% include header.html %}
    <div id="main" class="container fluid">     
      {{ content }}
      <br class="clear"/>
      </div>
    </div>
    </div>
    {% include footer.html %}
  </body>
</html>