<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link href="http://kernest.com/relativelyearly-com.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include main_page.html %}
      {{ content }}
      <br class="clear"/>
      </div>
    </div>
    </div>
    {% include footer.html %}
  </body>
</html>