/* @override http://localhost:4331/css/site.css */

@font-face {
font-family: "Delicious SmallCaps";
src: url(/fonts/Delicious-SmallCaps.otf)
}
@font-face {
font-family: "Delicious Roman";
src: url(/fonts/Delicious-Roman.otf)
}
html {
  margin: 0;
}
ul#nav {
  margin: 0;
  padding: 10px 20px;
  font-family: "Delicious SmallCaps", Helvetica Neue, Arial;  
  position: absolute;
  top: 130px;
}
#nav li {
  display: inline;
  font-size: 1.3em;
  padding: 10px;
  width: 200px;
}
#nav li a {
  color: #222;
  text-decoration: none;
}
#nav li a:hover {
  border-bottom: 2px solid #222;
}

/* @group portfolio */
.item p {
	color: #585816;
  width: 58%;
  float: left;
}
.item ul {
	font-size: .9em;
  padding: 0 0 0 1.5em;	
	color: #585816;
	width: 35%;
  float: right;
  margin: 1em 0;
  border-left: 2px solid #1d1e07;
  font-family: "Palatino";  
}

div.item {
  margin-bottom: 20px;
  width: 100%;
}
.work {
  min-width: 640px;
  max-width: 640px;
}
.item h2 a {
  background: transparent;
  text-shadow: none;
  padding: 0;
  border-bottom: none;
}

.item h2 a:hover {background: transparent;}
.item img {
  border: 2px solid #161616;

}

img.target {
  -webkit-box-shadow:#000 0 0 18px;    
}
#content div.text div.thumbs a, #content div.text div.thumbs a:hover {
  background: transparent;
  border: none;
  margin: 0 2px 0 0;
  padding: 0;
  width: auto;
}
div.thumbs {
  margin-top: 10px;
}
div.thumbs a img {
  margin: 0;
  padding: 0;
}


#content div.text div.item ul li {
  margin: .3em 0;
}
#myassociate-caption, #hemi-caption, #abc-caption {
width: 618px;
margin:8px 0 0 2px;
  font-size: 1em;
  position: relative;
  padding: 10px;
  background: #585612;
  font-family: "Delicious SmallCaps", Helvetica Neue, Arial;  
color: #938fbf;
background: #2e2c3c;
  text-shadow: #000000 0 0 3px;
}
#content div.text div.item.emp ul li {
  margin: .6em 0;
  list-style: none;
}
#content div.text div.item.emp ul li a{
  display: block;
}
/* @end */
body {
  font-size: 16px;
  background: #202008 url(/images/grass-sky.png) repeat-x 0 -55px;
  margin: 0;
}

/* @group layout */



#container {
  width: 85%;
  min-width: 560px;
  max-width: 55em;
  margin: 0 auto;

}
#header {
	padding: 10px 0;
	margin: 0 auto;
	min-height: 200px;
}
#content {

  margin: 0 auto;
  padding: 10px 30px;
  position: relative;
}

div.p-item h2 {

}

a img {
	border: none;
}

li a#home {
	display: block;
  height: 91px;
  background: url(../images/nav-home.png) no-repeat 1px 0;
}

.text h2 {
border-bottom: none;
margin-bottom: .3em;
}
#products {
}
#products div {
  margin: 10px;
  float: left;
  width: 45%;
}
hr.clear {
  clear: both;
  border: 1px solid #1d1e07;
}



/* @end */

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: <%= @page.color['header'] %>; }

/* Text Elements
 * --------------------------------------------------------------------- */
.text a                 { color: #938fbf;
padding: .5em;
background: #2e2c3c; text-decoration: none;
  border-bottom: 2px solid #17171f;
}
.text a:hover {
  background-color: #242330;
}
p {
  color: #9ba6be;
  line-height: 1.5em;
  font-family: "Palatino", "Georgia", serif;
  font-size: 14px;
}
h1 {
  color: #aaa;
  line-height: .8em;
  font-family: "Delicious SmallCaps", Helvetica Neue, Arial;
  text-transform: uppercase;
  text-align: left;
  font-size: 3em;
  margin: 0;
  padding: 0 30px;
  text-shadow: #000 0 0 100px;
}
h1 a {
  color: #aaa;
  text-decoration: none;  
}
h2 {
  color: #fff;
  font-family: "Delicious SmallCaps", Helvetica Neue, Arial;
  font-size: 2em;  
  margin: 0;
  border-bottom: 4px groove #262707;
}
h2 a {
  color: #00000a;
  text-decoration: none;
  text-shadow: #484912 0 1px 0;  
}
h2 a:hover {
  color: #a7a6df;
}

/* @group captions */

.caption-top, .caption-bottom {
	color: #ffffff;	
	padding: 1.2em;	
	font-weight: bold;
	font-size: 13px;	
	font-family: arial;	
	cursor: default;
	border: 0px solid #334143;
	background: #000000;
}
.caption-top {
   border-width: 0px 0px 8px 0px;
}
.caption-bottom {
   border-width: 8px 0px 0px 0px;
}
.caption a, .caption a {
	border: 0 none;
	text-decoration: none;
	background: #000000;
	padding: 0.3em;
}
.caption a:hover, .caption a:hover {
	background: #202020;
}
.caption-wrapper {
	float: left;
}
br.c { clear: both; }
/* @end */	